
mixin post(post, excerptOnly)
    article
        header
            h2
                a(href=baseUrl+'/posts/'+post.id)= post.title
            .infos
                time(datetime=post.date.toISOString())= post.date.fromNow()
        if excerptOnly && post.htmlExcerpt
            .content !{post.htmlExcerpt}
            a(href=baseUrl+'/posts/'+post.id) Continue reading…
        else
            .content !{post.htmlContent}
